/*CSS general de elementos*/
*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;    
}
/**a:any-link{
    color: #fff;
}**/
body{
    background-color: #fff ;
    color: black;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
p{
    margin-bottom: 25px;
}
i{
    font-size: 24px;
}
/* NAV */
nav{
    z-index: 99;

    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    transition: 0.3s;
}
h1{
    color: #FF5D6C;
    font-size: 30px;
 }
nav li{
    list-style: none;
    float: left;
}
nav li a{
    text-decoration: none;
    font-size: 13px;

    padding: 0.5rem 1rem;
    transition: all 0.1s linear; /*efecto nav*/
    /*border-radius: 5px;   Efecto redondo al cuadrado*/
    color: #fff;
}
nav li a:hover{
    cursor: pointer;
    background-color: #FF5D6C; 
}
.arrow{
    padding: 16px 16px 0px;/*15*/
}
.abajo{
    background-color: #fff;
    border-bottom: solid 1px #f2f2f2;
    padding: 5px 20px;
    transition: 0.3s;
    
}
.abajo a{
    color: #000;
}
#menu{
    display: none;
}
/* INICIO */
.back{
    position: relative;

    background-image: url(/img/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.back::before{
    position: absolute;
    content:"";
    inset: 0;

    background-color: rgba(0,0,0,0.33);
}
.front{
    position:relative;
}
#inicio{
    padding: 70px 0 40px 10px;
    color: #fff;
    text-align: center;
}
#peque{
    font-size: 12px;
    padding: 0 315px 0 0;
    margin: 0;
    /*color: #F9BF60;*/
    line-height: 1; /*tamaño del espaciado de la linea del texto*/
}
#grand{
    color: #FF5D6C;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 60px;
}
#med{
    margin-top: 5px;
}
#redes li{
    padding: 0;
    text-align: center;
    list-style: none;
    /*overflow: hidden;*/
}
#redes>li{
    display: inline-block;
    margin: 0 12px;
    margin-bottom: 25px;
}
#redes li a{
    color: #f2f2f2;
}
#redes>li>a:hover{
    cursor: pointer;
    color: #FF5D6C;
}
.contenedor{
    margin: 0 48% 0 ;
}
.v, .lm{
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    color: #FF5D6C;
}
.contenedor:hover{
    margin: 0;
    transition: all 300ms;
    cursor: default;
    min-height: 450px;
}
.contenedor:hover .v{
    transition: all 300ms;
    transform: translatey(400px);
}

/* ABOUT ME */
#aboutme{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px; 
    align-items: center;
    justify-content: center;
}
#img{
    max-width: 100%;
    min-width: 0%;
    border-radius: 50%; 
    margin: 0 40px 15px 50px;
}
#img:hover{
    filter: brightness(75%);
}
#text{
    width: fit-content;
    max-width: 600px;
    padding: 0 0 10px 10px;
    border-bottom: solid 1px #FF5D6C;
}
.sisa{
    justify-content: center;
}
.skill-tittle{
    text-align: center;
}
.ul_special{
    width: 29vw;
    max-width: 200px;
}
.ul_only{
    margin-left: 7px;
}
.lista{
    margin: 20px 0 0 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lista ul{
    display: inline-block;
    padding-bottom: 50px;
}
/* START */
#start{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 75px 0px;
}
.boton{
    margin: 30px auto;
    width: 120px;
    padding: 10px 0px;
    background-color: #fff;
    color: #000;
}
.boton:hover{
    cursor: pointer;
    background-color: #FF5D6C;
}

/* CHOOSEME */
#chooseme{
    margin-top: 100px;
    text-align: center;
}
.tabla{
    margin-top: 50px;
    color: #FF5D6C;
    width: 100%;
}
.table_space td{
    padding: 25px 0 100px;
    color: #000;
}
.negrilla{
    color: #000;
}

/* CONTACT ME */
#contact{
    color: #000;
    text-align: center;
    padding-top: 25px;
    border-top: solid 1px #000;
}

/* FOOTER */
footer{
    background-color: #f2f2f2;
    padding: 5rem 0 3rem;
    text-align: center;
    margin-top: 6rem;
}

/* OTHER */
@media only screen and (max-width: 767px) {

    #menu{
        display: block;
    }
    nav{
        z-index: 99;/*sobra*/
    
        display: block;
        justify-content: center;
        padding: 0px 0px 0;
        align-items: center;
    
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    
        transition: 0s;
    }
    nav.show{
        background-color: #fff;
        border-bottom: solid 1px #f2f2f2;
    }
    nav.show #menu{
        color: #000;
    }
    h1{
        margin-top: 0;
        color: #FF5D6C;
        font-size: 20px;
        float: left;
        padding: 10px 0 21px 20px;
    }
    #menu{
        cursor: pointer;
        color: #fff;
        padding: 13px 20px 10px 0;
        text-align: right;
    }
    nav ul{
        display: none;
        margin-left: 10px;
    }
    nav.show ul{
        display: block;
    }
    nav li{
        list-style: none;
        float: none; 
        margin: 20px 0 20px 10px;
    }
    nav li a{
        text-decoration: none;
        font-size: 13px;
    
        padding: 0rem 0rem;
        transition: all 0.1s linear; /*efecto nav*/
        /*border-radius: 5px;   Efecto redondo al cuadrado*/
        color: #000;
    }
    nav li a:hover{
        cursor: pointer;
        background-color: #FF5D6C; 
    }
    .arrow{
        padding: 7px 0px 0px;/*15*/
    }
    .abajo{
        background:none ;
        padding: 0px 0px;
        transition: none;
        border-bottom: solid 0px #f2f2f2;
    }
    .abajo #menu{
        color: #000;
        background-color: #fff;
        padding: 13px 20px 10px 0;
        border-bottom: solid 1px #f2f2f2;
    }
    .abajo h1{
        padding: 10px 0px 21px 20px;
    }
    nav.show #menu{
        border-bottom: solid 0px #f2f2f2;
        padding-bottom: 10px;
    }
    /* INICIO */
    #inicio{
        padding: 50px 0 40px 10px;
        color: #fff;
        text-align: center;
    }
}
@media only screen and (max-width: 412px) {
    #grand{
        font-size: 40px;
    }
    #peque{
        padding-right: 237px;
    }
}
