/*CSS general de elementos*/
*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;    
}
a:any-link{
    color: #fff;
}
body{
    background-color: #fff ;
    color: black;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
h1{
    margin: 0;
    color: #FF5D6C;
    text-align: left;
    padding-bottom: 15px;
    font-size: 30px;
    /*color: #E0915C; este color cuando este*/
 }
p{
    margin-bottom: 25px;
    
}
i{
    font-size: 24px;
}

/* INICIO */
.back{
    background-image: url(/img/Header.jpg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.back::before{
    position: absolute;
    content:"";
    inset: 0;
    background-color: rgba(0,0,0,0.33);
}
.front{
    position:relative;
}
#inicio{
    padding-left: 10px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}
#peque{
    font-size: 12px;
    padding-right: 315px;
    margin: 0;
    /*color: #F9BF60;*/
    line-height: 0; /*tamaño del espaciado de la linea del texto*/
}
#grand{
    color: #FF5D6C;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 60px;
}
#med{
    margin-top: 5px;
}
#redes li{
    padding: 0;
    text-align: center;
    list-style: none;
    /*overflow: hidden;*/
}
#redes>li{
    display: inline-block;
    margin: 0 12px;
    margin-bottom: 25px;
}
#redes>li>a:hover{
    cursor: pointer;
    color: #FF5D6C;
}
.contenedor{
    margin: 0 48% 0 ;
}
.v, .lm{
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    color: #FF5D6C;
}
.contenedor:hover{
    margin: 0;
    transition: all 300ms;
    cursor: default;
    min-height: 450px;
}
.contenedor:hover .v{
    transition: all 300ms;
    transform: translatey(400px);
}

/* ABOUT ME */
#aboutme{
    margin: 75px 100px;
    display: flex;
    flex-wrap: wrap;
    /*overflow: hidden;*/
}
.img-text{
    display:flex ;
    flex-wrap: wrap;
    padding-top: 100px;  
}
#img{
    border-radius: 50%; 
}
#img:hover{
    filter: brightness(75%);
}
#text{
    /*margin: 0px auto;*/
    width: 600px;
    height: 100px;
    padding-top: 50px;
    display: block;
}
/*.skill-tittle{
    display: flex;
}*/
.img-text ul{
    display: inline-block;
    margin-right: 108px;
}
/**/
.lista{
    display: inline-block;
    flex-wrap: wrap;
}
.lista ul{
    display: inline-block;
    margin-right: 108px;
}
/* START */
#start{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 75px 0px;
}
#chooseme{
    margin-top: 100px;
    text-align: center;
}
.boton{
    margin: 30px 775px 0px 775px;
    padding: 10px 0px;
    background-color: #fff;
    color: #000;
}
.boton:hover{
    cursor: pointer;
    background-color: #FF5D6C;
}
/* CONTACT ME */
#contact{
    color: #000;
}
/* OTHER */
